@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
  }
  body {
    @apply bg-soft-gray text-text-primary;
    font-family: 'Inter', system-ui, sans-serif;
  }
  /* Estilo base para scrollbar minimalista */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 8px;
  }
}