PORT=5000
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_DAYS_PAST=0
API_FOOTBALL_DAYS_FUTURE=14
CACHE_TTL=300
USE_DATASET=true
DATASET_DAYS_PAST=0
DATASET_DAYS_FUTURE=14

API_FOOTBALL_KEY=6331d5cea1482e1b8bade15abf3d9ac5
GROQ_API_KEY=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
GROQ_MODEL=openai/gpt-oss-20b
GEMINI_API_KEY=AIzaSyCVCxHlbgRse-qIk_o0T_IYVSSZTy4gO74
GEMINI_MODEL=gemini-3.5-flash-lite
ODDS_API_KEY=185c1af269de072283c0b2deadb232b3
